* {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 1024px) {
        gap: 48px;
    }
}

.header-wrapper {
    width: 100%;
    background: #512689;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.user-header {
    position: relative;
    display: flex;
    max-width: 1440px;
    flex-grow: 1;
}

.header-mobile-buttons {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
        display: none;
    }
}

.exit,
.back {
    width: 81px;
    height: 38px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #F8F8F8;
    color: #F8F8F8;
    background-color: transparent;
    cursor: pointer;

}


.back-button-layout {
    padding: 32px 30px 0 80px;

    @media (max-width: 768px) {
        display: none;
    }
}

.exit-button-layout {
    padding: 32px 80px 0 30px;

    @media (max-width: 768px) {
        display: none;
    }

}

.backsvg {
    margin: 12px 0 0 16px;
}

.exitsvg {
    margin: 12px 16px 0 0;
}

.user-info, .textgap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.user-info {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 12px 62px 64px 62px;
    flex-grow: 1;

    @media (min-width: 768px) {
        flex-direction: row-reverse;
        gap: 32px;
        padding: 39px 0;
        justify-content: flex-end;
    }
}

.textgap {
    @media (min-width: 768px) {
        align-items: flex-start;
    }
}

.user-info h1 {
    font-size: 36px;
    color: white;

    @media (min-width: 1024px) {
        font-size: 64px;
    }
}

.user-info p {
    font-size: 20px;
    color: white;

    @media (min-width: 1024px) {
        font-size: 32px;
        max-width: 664px;
    }
}

.avatar {
    border-radius: 100px;
    width: 187px;
    height: 187px;
}

.user-description {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        padding-left: 190px;
    }
}

.user-about {
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    width: 100%;
    padding: 32px 16px 32px 16px;

    @media (min-width: 1024px) {
        max-width: 630px;
        padding: 0;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 16px;
    gap: 24px;

    @media (min-width: 1024px) {
        padding-left: 129px;
    }
}

.contact {
    display: flex;
}

.contact p {
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    padding-left: 10px;
}